test/
build/
__pycache__/
.venv/
.wdm/
dist/
*.spec
rename_chapters/config.json
rename_chapters/po18_cookies.json
rename_chapters/qidian_guest_cookies.json
rename_chapters/.ghichu.txt
rename_chapters/local/
rename_chapters/backgrounds/
rename_chapters/icons/
qt_browser_profile*/
Tampermonkey_5.4.0_0/
rename_chapters/wikidich/
*.iss
.env.example
.env
*.env
fanqie_bridge/
rename_chapters/tools/
logs/
novelDownloaderVietSub.beta.user.js
junk_patterns.json
utils_data.py
forum_tab_mixin.py
qimao_ext.py
*.pth
TM-translate/
imageAI/
tmp/
gdown/