test/
build/
__pycache__/
.venv/
.wdm/
dist/
tools/
*.spec
rename_chapters/config.json
rename_chapters/po18_cookies.json
rename_chapters/qidian_guest_cookies.json
rename_chapters/.ghichu.txt
rename_chapters/local/
*.iss